<%= render "shared/header" %>

<div class='content'>
  <%= render "shared/side_bar" %>
  <div class='main'>
    <%= form_with model: @user do |f| %>
    <div class='edit-div'>
      <div class='edit-element'><%= f.text_field :nickname, placeholder: 'ニックネーム' %></div>
      <div class='edit-element'><%= f.file_field :image %></div>
      <div class='edit-element'><%= f.text_area :profile_text %></div>
      <div class='edit-element'><%= f.submit '保存', class: 'edit-btn' %></div>
    </div>
    <% end %>
  </div>
</div>