<div class='chat-header'>
  <div class='chat-header-title'>
    <%= @room.name %>
  </div>
  <div class='chat-menu-div'>
    <ul class='chat-list-ul'>
      <li class='drop-menu'>
        <i class="fas fa-list drop-menu-btn"></i>
        <ul class='drop-element'>
          <li><%= link_to "ルームを削除", room_path(@room), method: :delete %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class='messages', id='messages'>
  <%= link_to "publicdomainq-0022995sdv",'/assets/publicdomainq-0022995sdv.jpg',:rel => "lightbox"%>
  <%= render partial: 'shared/message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'form' do |f| %>
  <div class='form-input'>
    <%= f.text_area :text, class: 'form-message', placeholder: 'メッセージを入力' %>
    <label class='form-image'>
      <i class="far fa-image"></i>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <div class='submit-div'>
    <label class='form-submit'>
      <i class="far fa-paper-plane"></i>
      <%= f.submit '送信', class: 'hidden' %>
    </label>
  </div>
<% end %>