<div class='chat-header'>
  <div class='chat-header-title'>
    <%= @room.name %>
  </div>
  <div class='chat-header-button'>
    <i class="fas fa-list"></i>
    <%# <%= link_to "チャットルームを閉じる", room_path(@room), method: :delete %> %>
  </div>
</div>

<div class='messages'>
  <%= render partial: 'shared/message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class='form-input'>
    <%= f.text_area :text, class: 'form-message', placeholder: 'メッセージを入力' %>
    <label class='form-image'>
      <i class="far fa-image"></i>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <div class='submit-div'>
    <label class='form-submit'>
      <i class="far fa-paper-plane"></i>
      <%= f.submit '送信', class: 'hidden' %>
    </label>
  </div>
<% end %>