<% if current_user.id == message.user.id %>
  <% if message.text.present? %>
    <div class="message message-right">
      <div class="lower-message">
        <div class="message-text right-text">
          <%= simple_format(message.text) %>
        </div>
        <div class="message-date">
          <%= message.created_at.strftime("%p %I:%M") %>
        </div>
      </div>
    </div>
  <% end %>
  <a href=/rails/active_storage/blobs/user.id/message.image data-lightbox="image-1">
    <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image-right' if message.image.attached? %>
  </a>
<% else %>
  <% if message.text.present? %>
    <div class="message message-left">
      <div class="upper-message">
        <div class='chat-icon'>
          <% if message.user.image.attached? %>
            <%= image_tag message.user.image.variant(resize: '100x100') %>
          <% else %>
            <i class="far fa-user user-icon-i"></i>
          <% end %>
        </div>
      </div>

      <div class="lower-message">
        <div class="message-user">
          <%= message.user.nickname %>
        </div>
        <div class="message-text left-text">
          <%= simple_format(message.text) %>
        </div>
        <div class="message-date">
          <%= message.created_at.strftime("%p %I:%M") %>
        </div>
      </div>
    </div>
  <% end %>
  <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image-left' if message.image.attached? %>
<% end %>
