<% if current_user.id == message.user.id %>
  <% if message.text.present? %>
    <div class="message message-right">
      <div class="lower-message">
        <div class="message-text right-text">
          <%= simple_format(message.text) %>
        </div>
        <div class="message-date">
          <%= message.created_at.strftime("%p %I:%M") %>
        </div>
      </div>
    </div>
  <% end %>
  <a href="images/publicdomainq-0022995sdv.jpg" data-lightbox="image-1" data-title="キャプション">拡大画像を表示</a>
  <%= link_to "publicdomainq-0022995sdv",'/assets/publicdomainq-0022995sdv.jpg',:rel => "lightbox"%>
  <%# <a href="images/close.png" data-lightbox="test-image" data-title="キャプション"><%= image_tag message.image.variant(resize: '300x300'), if message.image.attached? %></a> %>
  <%# <%= link_to image_tag(messages.image.name), data-lightbox="image-1" if message.image.attached? %> %>
    <%= link_to image_tag(message.image.variant(resize: '400x400')),url: message.image, class: 'message-image-right', :rel => "lightbox" if message.image.attached? %>
<% else %>
  <% if message.text.present? %>
    <div class="message message-left">
      <div class="upper-message">
        <div class='chat-icon'>
          <% if message.user.image.attached? %>
            <%= image_tag message.user.image.variant(resize: '100x100') %>
          <% else %>
            <i class="far fa-user user-icon-i"></i>
          <% end %>
        </div>
      </div>

      <div class="lower-message">
        <div class="message-user">
          <%= message.user.nickname %>
        </div>
        <div class="message-text left-text">
          <%= simple_format(message.text) %>
        </div>
        <div class="message-date">
          <%= message.created_at.strftime("%p %I:%M") %>
        </div>
      </div>
    </div>
  <% end %>
  <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image-left' if message.image.attached? %>
<% end %>
