<% if current_user.id == message.user.id %>
  <div class="message message-right">

    <div class="lower-message">
      <div class="message-content">
        <%= message.text %>
      </div>
      <div class="message-date">
        <%= l message.created_at %>
      </div>
    </div>

  </div>
<% else %>
  <div class="message message-left">

    <div class="upper-message">
      <div class='chat-icon'>
        <i class="far fa-user"></i>
      </div>
      <div class="message-user">
        <%= message.user.nickname %>
      </div>
    </div>

    <div class="lower-message">
      <div class="message-content">
        <%= message.text %>
      </div>
      <div class="message-date">
        <%= l message.created_at %>
      </div>
    </div>

  </div>
<% end %>
