<%= render "shared/header" %>

<div class='content'>
  <%= render "shared/side_bar" %>
  <div class='create-room-main'>
    <div class='create-room-page-div'>
      <div class='create-room-div'>
        <h2>チャットルーム作成</h2>
      </div>
      <%= form_with model: @room do |f| %>
      <div class='create-room-div'>
      
        <%= render 'shared/error_messages', model: f.object %>
        <div><%= f.label :チャットルーム名, class: 'create-room-label' %></div>
        <div><%= f.text_field :name, class: 'create-room-input-name' %></div>
      </div>

      <div class='create-room-div box-div'>
        <h3>メンバーを選択</h3>
        <% User.where.not(id: current_user.id).each do |user| %>
          <label class='check-label-div'>
            <input type='checkbox' class='check-box' name='room[user_ids][]' value=<%= user.id %>>
            <div class='check-member-icon'>
              <% if user.image.attached? %>
                <%= image_tag user.image.variant(resize: '60x60') %>
              <% else %>
                <i class="far fa-user user-icon-i fa-3x"></i>
              <% end %>
            </div>
            <div class='check-user-name'>
              <%= user.nickname %>
            </div>
          </label>
        <% end %>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
        <%# <button class='plus' id='plus'>+</button> %>
      </div>

      <div class='create-room-div'>
        <div><%= f.submit class: 'create-room-btn' %></div>
      
      </div>
      <% end %>
    </div>
  </div>
</div>