<%= render "shared/header" %>

<div class='content' data-no-turbolinks>
  <%= render "shared/side_bar" %>
  <div class='create-room-main'>
    <div class='create-room-page-div'>
      <div class='create-room-div'>
        <h2>チャットルーム作成</h2>
      </div>
      
      <div class='create-room-div'>
      <%= form_with model: @room, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div><%= f.label :チャットルーム名, class: 'create-room-label' %></div>
        <div><%= f.text_field :name, class: 'create-room-input-name' %></div>
      </div>

      <div class='create-room-div select-div'>
        <select name="room[user_ids][]" class='create-room-input-member' id='select-member' style='font-size: 17px; height: 28px; width: 35vw; resize: none; outline: none; display: block;'>
          <option value="">メンバーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
          <option value=<%= user.id %><%= user.nickname %></option>
          <% end %> 
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
        <button class='plus' id='plus'>+</button>
      </div>

      <div id='add-select'></div>

      <div class='create-room-div'>
        <div><%= f.submit class: 'create-room-btn' %></div>
      <% end %>
      </div>
      
    </div>
  </div>
</div>